# Creates a release using compose.py from https://github.com/CleverRaven/Cataclysm-DDA
#
# This action is runs at 12:00 UTC Sunday

name: Publish Release
concurrency: release
on:
  schedule:
    - cron: '0 12 * * sun'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      timestamp: ${{ steps.get-timestamp.outputs.time }}
      release_already_exists: ${{ steps.tag_check.outputs.exists }}
    steps:
      - name: Get build timestamp
        id: get-timestamp
        uses: nanzm/get-time-action@v1.1
        with:
          format: 'YYYY-MM-DD'
      - name: Generate environmental variables
        id: generate_env_vars
        run: |
          echo "::set-output name=tag_name::${{ steps.get-timestamp.outputs.time }}"
          echo "::set-output name=release_name::Cuteclysm Release ${{ steps.get-timestamp.outputs.time }}"
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check if there is existing git tag
        id: tag_check
        uses: mukunku/tag-exists-action@v1.0.0
        with:
          tag: ${{ steps.generate_env_vars.outputs.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Get Previous tag
        id: previous_tag
        uses: WyriHaximus/github-action-get-previous-tag@v1
      - name: Abort if there are no changes
        run: |
          # exit 1 if there are no changes, exit 0 if there are changes
          git diff ${{ steps.previous_tag.outputs.tag }} | grep ""
      - name: Push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v5.5
        if: ${{ steps.tag_check.outputs.exists == 'false' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: ${{ steps.generate_env_vars.outputs.tag_name }}
          tag_prefix: ""
      - name: "Generate release notes"
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github.v3+json" \
            /repos/pixel-32/CDDA-tileset/releases/generate-notes \
            -f tag_name='${{ steps.generate_env_vars.outputs.tag_name }}' \
            -f target_commitish='master' \
            -q .body > CHANGELOG.md
      - name: Create release
        id: create_release
        uses: actions/create-release@main
        if: ${{ steps.tag_check.outputs.exists == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.generate_env_vars.outputs.tag_name }}
          release_name: ${{ steps.generate_env_vars.outputs.release_name }}
          body_path: ./CHANGELOG.md
          draft: false
          prerelease: false

  build:
    needs: release
    if: ${{ needs.release.outputs.release_already_exists == 'false' }}
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install musl-dev gcc libvips-dev python3-dev python3-pip python3-wheel
          pip3 install pyvips

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build
        id: build
        run: |
          mkdir build

          wget -q -P build https://raw.githubusercontent.com/CleverRaven/Cataclysm-DDA/master/tools/gfx_tools/compose.py \
          || echo "Error: Failed to get compose.py"

          python3 build/compose.py --use-all --feedback CONCISE --loglevel INFO . build

          release_name=Cuteclysm

          mkdir "$release_name"
          cp build/*.png            "$release_name"
          cp build/tile_config.json "$release_name"
          cp ./tileset.txt          "$release_name"
          cp ./fallback.png         "$release_name"

          zip -r $release_name.zip $release_name

          echo ::set-output name=release_name::"$release_name"
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ${{ steps.build.outputs.release_name }}.zip
          asset_name: ${{ steps.build.outputs.release_name }}.zip
          asset_content_type: application/zip

